
button{
  cursor: pointer;
}
#inner{
    display: flex;
  }
  .on-nav{
    float: right;
    display: flex;
  }
  #header .inner  ul li a {
    font-family: calibri;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #147abe;
  }
  .on-nav li{
    list-style: none;
    padding: 30px;
    color: #fff;
  }
  .sidebar a :hover{
    color:lawngreen
  }
  .work-btn:hover{
    scale: 1.2;  
  }
/*  */

  body {font-family: Arial, Helvetica, sans-serif;
  }
  .navbar {overflow: auto;
  }
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: #000;
  }
  .inner{
    display: flex;
  }  
  .section_mid{
    background-color: #6d727c;
  }
  
  /* in main */
  .abt-text .work-btn{
    color: white;
    border-color: black;
  }
  .abt-text button{
    color:#00171f;
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
  }
  .abt-text hr{
    width: 98%;
    margin-top: 2vh;
  }
  .abt-text{
    text-align: center;
  }
  .abt-text ul{
    justify-self: start;
  }
  .abt-text h1{
    font-family: calibri;
    color: #10151E;
  }
  .abt-text p{
    font-size: x-large;
  }
    
  .work_section{
    height: auto;
  }    
  .Assignments_article{
    background:none;
  }

  /*  article */
  .container_card {
    position: relative;
    width: 50%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #798C98;
  }

  .container_card:hover .overlay {
    opacity: 0.9;
  }

  .text-card {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .card-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
  }
  .container_card{
    justify-content: center;
    margin: 1vh 0vh 1vh 0vh;
  }
  @import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
 /*  */

 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   padding: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  /*  */
  .container_lotto {
    position: relative;
    width: 50%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color:#798C98 ;
  }

  .container_lotto:hover .overlay {
    opacity: 0.9;
    cursor: pointer;
  }

  .text-lotto {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /*  */

  /* testemonials */
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
  figure.snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none 
    
  }
  figure.snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip1192 img {
    max-width: 100%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
  }
  figure.snip1192 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 30px 50px 65px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: medium;
  }
  figure.snip1192 blockquote:before,
  figure.snip1192 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
  }
  figure.snip1192 blockquote:before {
    top: 35px;
    left: 20px;
  }
  figure.snip1192 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
  }
  figure.snip1192 .author {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
  figure.snip1192 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
  }
  figure.snip1192 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
  }
